.center {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  /* display: grid;
  grid-template:
    "range-buttons range-buttons" 50px
    "group-buttons charts" 1fr
    / 30px 1fr; */
}

.Header {
  position: fixed;
  z-index: 10;
  /* top: 0; */
  bottom: 0;
  height: 80px;
  margin: 10px;
  /* width: 100%; */
  border-radius: 15px;
  /* border: solid 2px black; */
}
.Header-row1 {
  padding: 0 10px 0 0;
  border-radius: 15px 15px 0 0;
  background-color: #111;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-row2 {
  padding: 0 10px 0 0;
  border-radius: 0 0 15px 15px;
  background-color: #000;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  /* position: fixed;
  z-index: 20;
  bottom: 52px; */
  width: 50px;
  height: 36px;
  margin: 0 0 0 15px;
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
  opacity: 0.7;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.refresh-button {
  width: 24px;
  height: 24px;
  margin: 0 0 0 15px;
  background-image: #111;
  color: #aaa;
  font-size: 16px;
  border-radius: 10px;
  border: solid 1px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.load {
  display: flex;
  align-items: center;
}
.loadtime {
  margin-right: 10px;
  color: #999;
  font-size: 10px;
  line-height: 10px;
}
.range-buttons {
  grid-area: range-buttons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.group-buttons {
  grid-area: group-buttons;
  display: flex;
  justify-content: flex-end;
}

.range-button {
  width: 36px;
  height: 36px;
  margin: 2px;
  background-image: linear-gradient(135deg, #92ffc0 50%, #002661 100%);
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.group-button {
  width: 36px;
  height: 36px;
  margin: 2px;
  background-image: linear-gradient(135deg, #3b2667 50%, #bc78ec 100%);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.charts {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  padding: 10px;
  grid-area: charts;
  background-color: #444;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 10px;
  text-align: center;
  overflow: auto;
}

.chart {
  background-color: white;
}

.group {
  padding: 0 5px;
  background-color: #ccc;
  border-radius: 5px;
  font-size: 10px;
}
.candle {
  padding: 0 5px;
  background-color: #888;
  color: white;
  border-radius: 5px;
  font-size: 10px;
}
.title {
  background-color: white;
}
img {
  width: 100%;
}
img.by4 {
  width: calc(100% / 4);
}

.form-box {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vw; */
  /* height: 730px; */
  margin: 10px;
  padding: 10px;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
  /* display: none; */
  color: white;
}
.form-button {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: black;
}
.form-description {
  width: 100%;
  padding: 5 px;
  border-radius: 10px;
  border: none;
  font-size: 10px;
  text-align: right;
}
.data-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}
.form-group {
  /* width: 165px; */
  /* height: 340px; */
  border-radius: 10px;
  border: solid 1px white;
  padding: 10px;
  display: grid;
  grid-template-columns: 60px 1fr;
}
input {
  width: 100%;
  height: 24px;
  text-align: center;
}
