.center {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  /* display: grid;
  grid-template:
    "range-buttons range-buttons" 50px
    "group-buttons charts" 1fr
    / 30px 1fr; */
}

.Logo {
  position: fixed;
  z-index: 20;
  bottom: 62px;
  width: 120px;
  height: 34px;
  background-color: #123;
  opacity: 0.7;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  position: fixed;
  z-index: 10;
  /* top: 0; */
  bottom: 0;
  height: 100px;
  width: 100%;
  border-radius: 10px;

}

.range-buttons {
  background-color: #234;
  opacity: 0.8;
  grid-area: range-buttons;
  display: flex;
  justify-content: flex-end;
}

.group-buttons {
  background-color: #123;
  opacity: 0.8;
  grid-area: group-buttons;
  display: flex;
  justify-content: flex-end;
}

.range-button {
  width: 36px;
  height: 36px;
  margin: 2px;
  background-color: yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.group-button {
  width: 36px;
  height: 36px;
  margin: 2px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.charts {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  padding: 10px;
  grid-area: charts;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 10px;
  text-align: center;
  overflow: auto;
}

.chart {
  /* height: 100px; */
  background-color: white;
  /* color: white; */
}

.title {
  background-color: white;
}
img {
  width: 100%;
}
img.by4 {
  width: calc(100% / 4);
}
