* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  /* overflow: auto; */
  scroll-margin-block-start: 60px;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
/* Chrome, Safari, Opera*/
*::-webkit-scrollbar {
  /* display: none; */
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 5px;
  box-shadow: inset -1px -1px 3px white;
}

input,
textarea {
  user-select: text;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  background-color: #444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
